<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title><%= title%></title>
<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<style type="text/css">
    .bs-example{
        margin: 20px;
    }
</style>
</head>
<body>
<div class="bs-example">
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a href="#" class="navbar-brand">Password Management System</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="/" class="nav-item nav-link active">Home</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Password Category</a>
                    <div class="dropdown-menu">
                        <a href="#" class="dropdown-item">Add new category </a>
                        <a href="/passwordcategory" class="dropdown-item">View all caregory</a>
                      
                    </div>
                </div>
                <div class="nav-item dropdown">
                  <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Password Details</a>
                  <div class="dropdown-menu">
                      <a href="/add-new-password" class="dropdown-item">Add new password</a>
                      <a href="/view-all-password" class="dropdown-item">View all password</a>
                      
                  </div>
              </div>
            </div>
         
           
        </div>
    </nav>
    
    <div class="container">
        <div class="row">
         
            <div id="signupbox" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title">Add New password Category</div>
                         </div>  
                    <div class="panel-body" >
                        <form action="/" id="EmployeeForm" class="form-horizontal" method="post"  role="form" enctype="multipart/form-data">
                            
                            
                                
                            <div class="form-group">
                                <label for="username" class="col-md-3 control-label">Category Name</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="uname" placeholder="Enter Your Password Category Name">
                                </div>
                            </div>
                           
                                
                            
                            <div class="form-group">
                                <!-- Button -->                                        
                                <div class="col-md-offset-3 col-md-9">
                                <input type="submit" name="submit" value="Add Category" class="btn btn-primary">   
                                </div>
                            </div>
                             <a href="/passwordcategory">View All Category Lists</a>
                            
                            
                            
                            
                            
                        </form>
                     </div>
                </div>
</div>
</body>
</html>
    </body>
  </html>
  